.sigPad {
    width: 400px;
    height: 200px;
}
.sigContainer {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 24px;
}

@media only screen and (max-width: 500px) {
    /* For tablets: */
    .sigPad {
        width: 220px;
        height: 100px;
    }
    .sigContainer {
        width: 220px;
        height: 100px;
        margin: 0 auto;
        background-color: #fff;
        margin-bottom: 24px;
    }
}
