.navbarColor{
    background-color:#98FB98;
}

.navbarButton{
    background-color:#98FB98 !important;
    border:none !important;
    color: black !important;
    height: 50px;
    padding:0px;
    margin-right:16px;
}

@media only screen and (max-width: 400px) {
    /* For tablets: */
    .navbarButton{
        font-size: 12px !important;
    }
}